h1{
    text-align: center;
    font-size: 500%;
    font-family: fantasy;
  }
  h4{
    text-align: left;
    font-size: 400%;
    top: 99%;
    font-family: fantasy;
  }
  p{
    top: 10%;
    font-size: 150%;
    text-align: right;
  }

  .container{
    display: flex;
    width: 100%;
    margin-block-start: 10%;
    font-family: fantasy;
    font-size: 130%;
  }

  .container .black-left {
    width: 70%;
  }

  .container .black-right{
    width: 30%;
  }